# Template file konfigurasi database Supabase PostgreSQL
# Salin file ini dan ubah namanya menjadi '.env', lalu sesuaikan nilainya

DB_HOST=aws-1-ap-south-1.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.cgnztnnflygpdpfdsrmm
DB_PASS=faceabsensi123
DB_NAME=postgres
